{
	"presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
	"plugins": [
		"babel-plugin-macros",
		[
			"@emotion/babel-plugin-jsx-pragmatic",
			{
				"export": "jsx",
				"import": "__cssprop",
				"module": "@emotion/react"
			}
		],
		[
			"@babel/plugin-transform-react-jsx",
			{
				"pragma": "__cssprop",
				"pragmaFrag": "React.Fragment"
			}
		],
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@public": "./public",
					"@tests": "./src/tests",
					"@types": "./src/types",
					"@components": "./src/components",
					"@feature": "./src/feature",
					"@pages": "./src/pages",
					"@hooks": "./src/hooks",
					"@helpers": "./src/helpers",
					"@store": "./src/store",
					"@api": "./src/api"
				}
			}
		]
	]
}
